In [1]:
import yfinance as yf  # importing yfinance library 

# getting OHLCV (open, high, low, close, volume) data 
data = yf.download("AAPL", period='1mo', interval="30m")

data.head(10)

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2021-01-11 09:30:00-05:00,128.964996,129.750000,128.509995,129.425003,129.425003,20292024
2021-01-11 10:00:00-05:00,129.410004,130.169998,129.369995,130.000000,130.000000,9557954
2021-01-11 10:30:00-05:00,130.000000,130.110001,129.320099,129.570007,129.570007,6485920
2021-01-11 11:00:00-05:00,129.559998,129.639999,129.029999,129.563400,129.563400,5566603
2021-01-11 11:30:00-05:00,129.559998,129.690002,129.300003,129.509995,129.509995,3894157
2021-01-11 12:00:00-05:00,129.509995,129.850006,129.350006,129.705002,129.705002,3989502
2021-01-11 12:30:00-05:00,129.699997,130.059998,129.490005,129.550003,129.550003,4107638
2021-01-11 13:00:00-05:00,129.544998,129.929993,129.449997,129.610001,129.610001,4767223
2021-01-11 13:30:00-05:00,129.619995,129.649994,129.220001,129.345001,129.345001,4487721
2021-01-11 14:00:00-05:00,129.348007,129.348007,128.940094,129.000793,129.000793,4620012

In [2]:
# Importing necessary libraries 
import datetime as dt 
import yfinance as yf
import pandas as pd 

tickers = ["AAPL", "GME", "GOOG", "TSLA"]
start = dt.datetime.today()-dt.timedelta(360) 
end = dt.datetime.today()

adj_close_price = pd.DataFrame()  # Dataframe to hold adj closing prices 

for ticker in tickers:
    adj_close_price[ticker] = yf.download(ticker, start=start, end=end)["Adj Close"]
  
adj_close_price.head(10)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

                 AAPL   GME         GOOG        TSLA
Date
2020-02-18  79.136566  4.06  1519.670044  171.679993
2020-02-19  80.282684  4.15  1526.689941  183.483994
2020-02-20  79.459068  4.14  1518.150024  179.882004
2020-02-21  77.660507  4.04  1485.109985  180.199997
2020-02-24  73.971603  3.70  1421.589966  166.757996
2020-02-25  71.466019  3.56  1388.449951  159.981995
2020-02-26  72.599739  3.39  1393.180054  155.759995
2020-02-27  67.854019  3.47  1318.089966  135.800003
2020-02-28  67.814331  3.60  1339.329956  133.598007
2020-03-02  74.127892  3.83  1389.109985  148.723999

In [3]:
# Importing libraries 
from yahoofinancials import YahooFinancials

# Getting daily data 
ticker = "TSLA"
yahoo_financials = YahooFinancials(ticker)
data = yahoo_financials.get_historical_price_data("2021-02-01", "2021-02-07", "daily")

data

{'TSLA': {'eventsData': {},
  'firstTradeDate': {'formatted_date': '2010-06-29', 'date': 1277818200},
  'currency': 'USD',
  'instrumentType': 'EQUITY',
  'timeZone': {'gmtOffset': -18000},
  'prices': [{'date': 1612189800,
    'high': 842.0,
    'low': 795.5599975585938,
    'open': 814.2899780273438,
    'close': 839.8099975585938,
    'volume': 25391400,
    'adjclose': 839.8099975585938,
    'formatted_date': '2021-02-01'},
   {'date': 1612276200,
    'high': 880.5,
    'low': 842.2000122070312,
    'open': 844.6799926757812,
    'close': 872.7899780273438,
    'volume': 24346200,
    'adjclose': 872.7899780273438,
    'formatted_date': '2021-02-02'},
   {'date': 1612362600,
    'high': 878.0800170898438,
    'low': 853.0599975585938,
    'open': 877.02001953125,
    'close': 854.6900024414062,
    'volume': 18343500,
    'adjclose': 854.6900024414062,
    'formatted_date': '2021-02-03'},
   {'date': 1612449000,
    'high': 856.5,
    'low': 833.4199829101562,
    'open': 855.0,
    'close': 849.989990234375,
    'volume': 15812700,
    'adjclose': 849.989990234375,
    'formatted_date': '2021-02-04'},
   {'date': 1612535400,
    'high': 864.77001953125,
    'low': 838.969970703125,
    'open': 845.0,
    'close': 852.22998046875,
    'volume': 18524800,
    'adjclose': 852.22998046875,
    'formatted_date': '2021-02-05'}]}}

In [4]:
# Importing necessary libraries 
import pandas as pd 
from yahoofinancials import YahooFinancials 
import datetime as dt

tickers = ["AAPL", "GME", "GOOG", "TSLA"]
start = (dt.date.today() - dt.timedelta(360)).strftime('%Y-%m-%d')
end = (dt.date.today()).strftime('%Y-%m-%d')

adj_close_price = pd.DataFrame()  # Dataframe to hold adj closing prices 

for ticker in tickers:
      yahoo_financials = YahooFinancials(ticker)
      data = yahoo_financials.get_historical_price_data(start, end, "daily")
      ohlcv = data[ticker]['prices']
      temp_df = pd.DataFrame(ohlcv)[["formatted_date", "adjclose"]]
      temp_df.set_index("formatted_date", inplace=True)
      temp_df.dropna(inplace=True)
      adj_close_price[ticker] = temp_df["adjclose"]
  
adj_close_price.head(10)

                     AAPL   GME         GOOG        TSLA
formatted_date
2020-02-18      79.136566  4.06  1519.670044  171.679993
2020-02-19      80.282684  4.15  1526.689941  183.483994
2020-02-20      79.459068  4.14  1518.150024  179.882004
2020-02-21      77.660507  4.04  1485.109985  180.199997
2020-02-24      73.971603  3.70  1421.589966  166.757996
2020-02-25      71.466019  3.56  1388.449951  159.981995
2020-02-26      72.599739  3.39  1393.180054  155.759995
2020-02-27      67.854019  3.47  1318.089966  135.800003
2020-02-28      67.814331  3.60  1339.329956  133.598007
2020-03-02      74.127892  3.83  1389.109985  148.723999

In [5]:
# Importing necessary libraries 
import requests 
import configparser 

# Loading keys from config file 
config = configparser.ConfigParser()
config.read_file(open('<path to your config file>'))
IEX_SANDBOX_PUBLIC = config.get('IEX', 'IEX_SANDBOX_PUBLIC')

# Getting realtime data for TSLA (note: With basic price data it is giving many other financial parameters. You can also explore
# API documentation for more details on different types of data provided.)
ticker = 'TSLA'
api_url = f'https://sandbox.iexapis.com/stable/stock/{ticker}/quote?token={IEX_SANDBOX_PUBLIC}'
data = requests.get(api_url).json()
data

{'symbol': 'TSLA',
 'companyName': 'Tesla Inc',
 'primaryExchange': 'KCT)/R DLO LM(EGEAAASNAS LEGQBNST',
 'calculationPrice': 'close',
 'open': 860.6,
 'openTime': 1643907280415,
 'openSource': 'filoifca',
 'close': 879.93,
 'closeTime': 1657594742536,
 'closeSource': 'oacflifi',
 'high': 895.1,
 'highTime': 1647093618771,
 'highSource': 'dd ncu 1eme yiaeeptrl5i',
 'low': 843.59,
 'lowTime': 1642493550469,
 'lowSource': 'caee1ruey m5 dlipden it',
 'latestPrice': 861.11,
 'latestSource': 'Close',
 'latestTime': 'February 9, 2021',
 'latestUpdate': 1678279041807,
 'latestVolume': 15554022,
 'iexRealtimePrice': 872.85,
 'iexRealtimeSize': 68,
 'iexLastUpdated': 1642676669630,
 'delayedPrice': 862.46,
 'delayedPriceTime': 1620972528881,
 'oddLotDelayedPrice': 872.3,
 'oddLotDelayedPriceTime': 1674812956054,
 'extendedPrice': 855.9,
 'extendedChange': -3.97,
 'extendedChangePercent': -0.00488,
 'extendedPriceTime': 1692646145784,
 'previousClose': 864.51,
 'previousVolume': 20614648,
 'change': -14.07,
 'changePercent': -0.01641,
 'volume': 15793384,
 'iexMarketPercent': 0.019666991098039707,
 'iexVolume': 304066,
 'avgTotalVolume': 26939854,
 'iexBidPrice': 0,
 'iexBidSize': 0,
 'iexAskPrice': 0,
 'iexAskSize': 0,
 'iexOpen': 890.8,
 'iexOpenTime': 1679627699535,
 'iexClose': 890.5,
 'iexCloseTime': 1650168019393,
 'marketCap': 839715771894,
 'peRatio': 1629.92,
 'week52High': 920.98,
 'week52Low': 73.97,
 'ytdChange': 0.1969357954823274,
 'lastTradeTime': 1631191938486,
 'isUSMarketOpen': False}